<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tipsy.tipsyappuser.app" >



        <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name="com.tipsy.tipsyappuser.app.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tipsy.tipsyappuser.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
</activity>
        <activity
            android:name="com.tipsy.tipsyappuser.app.HomeActivity">
        </activity>
        <activity
            android:name="com.tipsy.tipsyappuser.app.RegisterActivity">
        </activity>
        <activity
            android:name="com.tipsy.tipsyappuser.app.LoginActivity">

            </activity>


    </application>

</manifest>
